# dependencies
node_modules/
temp_app/
/.pnp
.pnp.*
.yarn/*

# next.js & production builds
.next/
out/
build/

# env files
.env.local
.env*.local
.env

# misc & debug
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
.vercel
*.tsbuildinfo
next-env.d.ts

.vercel
